/* "Index" page */

.banner{ background-color: gold;
    color:white;
    margin-top: 75px;
    text-align: center;
    padding: 5px;

}

.linkButtons {
    background-color:cadetblue; 
    text-decoration:none;
}
/*Need a position: fixed; property for a navigation bar*/ 

/* body {
    dipslay:flex;
    justify-content: space-between;
} */

#trimmedBanner{
    height: 45px;
}

#homepage {
    background-image: url(C:\Users\awval\Projects\resources\images\soldier_finance_1.jpg);
    height:100%;
}

/* Mortgage Calculator Styles */
#mortgageCalculator {
    background-color: gold;

}

form {
    align-items: center;
    border-style: groove;

}

/* Crypto page Styles */

#cCC{
    display:grid;
    grid-template-columns: [first] 10% [line1] 80% [line2] 10% [final];
    grid-template-rows: [firstrow] 100% [lastrow];
    background-image:url("C:\Users\awval\Projects\resources\images\soldier_finance_1.jpg"); 
    /* background-color:lightsalmon ; */
    z-index: 1;
    height:100%;  
}

#mainBody {
 grid-column-start: line1;
 grid-column-end: span line2;
 
}

#leftFlank {
 grid-column-start: first;
 grid-column-end: line1;
 background-image: url("C:\Users\awval\Projects\resources\images\soldier_finance_1.jpg");
 
 /*background-color:indigo; */
}

#rightFlank {
 grid-column-start: line2;
 grid-column-end:final;

 /*background-image: url("resources\images\soldier_finance_2.jpg"); 
 background-color:lemonchiffon; */
}


.cCC {
    background-color: grey;
    font-family: sans-serif;
    font-weight: bolder;
    text-align:center;
}

input {
    align-self: center;
}




/*For screens smaller than 480px
@media only screen and (max-width: 480px) {
    body {
      font-size: 12px;
    }
  }*/ 

  /*For screens with greater than 150dpi resolution: making the images sharper

  @media only screen and (min-resolution: 150dpi) {
  }*/

  /* Display rule sets for smartphones 
  @media only screen and (min-width:320px) and (max-width:480px), (orientation:portrait){

}*/


td{
    box-sizing: border-box;
    width: 150px;
    height:50px;
    text-align:center;
    border: 2px solid black;
    background-color:cadetblue;
    border-radius: 5%;
}

a{
    background-color:cadetblue;
    border:none;
}

#dfas_logo{
    border: 5px solid black;
    float:right;
}
footer{
    position:fixed;
    bottom:0px; 
    width:100%;
    background-color:black;
    color:white;
    text-align: center;
    vertical-align:middle;
    height:30px;
    
}


form {
    margin:25px 0px;
}
 #rank {
    margin: 25px 0px;
}

#dependants{
    margin:15px 0px;
}

#zipCode{
    margin:25px 0px;
} 